*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  width: 1158px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.heder-navigation {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  color: var(--NAVY-BLUE, #2e2f42);
}

.container.heder-navigation-container {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1158px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-list {
  display: flex;
  margin-right: 272px;
  gap: 40px;
  padding: 24px 0;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.menu-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}
.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-list {
  padding: 0;
}
.contacts-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}
.section-one {
  padding: 188px 0;
  background: var(--NAVY-BLUE, #2e2f42);
}

.container.section-one-container {
  padding-left: 15px;
  display: block;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
}
.section-one-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}
.section-one-button {
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
}
.section-one-button:hover {
  background: #404bbf;
}
.section-one-button:focus {
  background: #404bbf;
}
.advantages {
  padding: 120px 0;
}
.container.advantages-container {
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantages-item-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  padding: 120px 0;
  background: var(--CLOUD, #f4f4fd);
}
.container.section-team-container {
  background: var(--CLOUD, #f4f4fd);
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0;
}
.section-team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-team-list {
  display: flex;
  gap: 24px;
}

.section-team-cards {
  background-color: #ffffff;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  overflow: hidden;
}
.team-name-profession {
  padding: 32px 0;
}

.section-team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.section-team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-align: center;
}
.container.section-portfolio-container {
}
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-left: 15px;
}
.list-item-img {
  display: flex;
  width: calc((100% - 48px) / 3);
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  background: var(--WHITE, #fff);
}
.name-products {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}
.list-item-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-item-products {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}
.container.footer-container {
  padding-left: 15px;
  flex-shrink: 0;
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 15px;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-studio {
  color: var(--CLOUD, #f4f4fd);
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  width: 264px;
  margin-left: 15px;
  margin-top: 17.5px;
}
